name: Deploy Application
on: push
jobs: 
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install Node dependencies
        run: npm ci
      - name: Lint code
        run: npm lint
      - name: Test Code
        run: npm lint
  deploy-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install Node dependencies
        run: npm ci
      - name: build code
        run: npm build
      - name: Deployment Status Check
        run: echo "deployment done"
       
 


